/* Grid areas */
.container{
    display: grid;
    grid-template-rows: auto auto auto 75px;
    grid-template-columns: 1fr 2fr 2fr;
}
.header{
    grid-area: header;
    grid-row: 1 / 2;
    grid-column: 2 / 4;
}
.menuNavegacion{
    grid-area: nav;
    grid-row: 1 / 4;
    grid-column: 1 / 2;
}
.sobreNosotros{
    grid-area: sobreNosotros;
    grid-row: 2 / 3;
    grid-column: 2 / 4;
}
.imagenNosotros{
    grid-area: imagenNostros;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
  
}
/* .footer{
    grid-area: footer;
    grid-row: 4 / 5;
    grid-column: 1 / 4;
}*/

.tareas{
    grid-area: tareas;
    grid-row: 3 / 4;
    grid-column: 3 / 4;
    padding-left: 30px;
}

/* Estilo Generico */
h1{
    color:#388e99;
    }
h2, h3{
    color:#1A5276;   
    }
    
#bodyIndex{
    margin: 5vh 5vw 5vh 5vw;
    background-image: url("fondo4.jpeg");
    background-size: 100%;
    background-repeat: repeat;
    background-attachment: fixed;
}
#body{
    margin: 0 10vw 0 20vw;
    background-image: url("fondo4.jpeg");
    background-size: 100%;
    background-repeat: repeat;
    background-attachment: fixed;
   
    
}

/* Estilo General Secciones */
.tituloSection{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 50px;
}
.bodySection{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 20px;
    color:#29585e;
}

/* Estilo Footer */
#footer{
    position: fixed;
    margin-left: 10vw;
    left: 0;
    bottom: 0;
    width: 90%;
    height: 10vh;
    background-color: #388e99;
}
/* Estilo Footer izquierda */
.footerTextLeft {    
    font-size:20px;
    padding-left: 80px;
    font-family: 'Montserrat', cursive;
    color: #99D9D2;
    float:left;
    word-spacing: 20px;
}
.footerTextLeft a{
    color: #99D9D2;
}
.footerTextLeft a:hover{
    color: #154360;
}

/* Botones Redes sociales */ 
.RedSocialIconos{
    margin-right: 5%;
    float:right;
    font-size:20px;
    font-family: 'Montserrat', cursive;
    color: #99D9D2;
}  
.fa {
    margin-right: 5%;
    font-size: 70px;
    width: 60px;
    text-align: center;
    float: right;
    text-decoration: none;
    color: #99D9D2;
  }

/* Menu Navegacion */
.menuNavegacion {
    overflow-x: hidden;
    background-color: #99D9D2;
    width: 13vw;
   height: 100%;
   position: fixed;
    z-index: 1;
    top: 0;
    left: 0;     
    padding-top: 20px;
   
}
a.menu:hover {
    color:white;
     font-size:20px;
   }

/* Boton submenu Navegacion */
.menuNavegacion a, .subnavbtn {
    padding: 6px 8px 6px 8px;
    color: #605752;
    text-decoration: none;
    font-family: 'dancing script';
    background-color: #99D9D2;
    text-align: center;
    font-size: 30px;
   display: block;
   border: none;
 
}
      
.menuNavegacion a:hover {
    color: #B8BDA7;
    height: 100px;
    background-color: #388e99;
    transition: 2s;
}
      
.menuNavegacion a.MenuActive {
    background-color: #388e99;
    color: white;
}

/* Submenu navegacion */
.subnav{
    float: left;
  overflow: hidden;
}
.subnav-content {
    display:none;
   
    background-color: #99D9D2;
    position: absolute;
       
}

.subnav-content a {
    float: left;
    color: #605752;
    text-decoration: none;
    padding: 6px 8px 6px 8px;
  }
.subnav-content a:hover {
    color: #B8BDA7;
  }
  .subnav:hover .subnav-content {
    display: block;
  }


/* Tabla Presupuestos armados */  

.table {
    border: 2px solid lightseagreen;
    border-collapse: collapse;
    margin-left: 10vw;
    margin-right: 10vw;
   }
.table tbody{
    border: 1px solid lightseagreen;
    border-collapse: collapse;
    background-color:#E8F6F3;
    font-family: 'Montserrat', sans-serif;
    color:#1A5276;
}  
  
.table thead {
    border: 1px solid lightseagreen;
    border-collapse: collapse;
    background-color:  lightseagreen;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    text-align: center;
}

.tablaContenido{
    list-style: none;
}
      
ol li:before {
    content: '✓';
}

/* Formularion Contacto */
form{
    background-color:#90cac3;
    color: #154360;
    text-align: center;
}

/* Seccion Sobre Nosotros */
#list{
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color:#1A5276;
}



/* Boton collapsable Sobre Nosotros */
.collapsible {
    background-color: #99D9D2;
    color: #605752;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
  }
  .active, .collapsible:hover {
    background-color: #388e99;
    color: white;
  }
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #a8d6d1;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color:#1A5276;
  }

/* Boton collapsible mas y menos */
.collapsible:after {
    content: '\02795'; 
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; 
    color: white;
  }

/* Seccion Filmaciones */
.videosMuestra{
    display: flex;
    align-items: center;
    justify-content: space-around;

}


/* Galeria fotografia */
.galeria{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
    
}
.fotos{
    border-radius: 20px;
    box-shadow: grey;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fotos--5{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 7;
}
.fotos--1{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
}
.fotos--2{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 7;
}  
.fotos--3{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
}
.fotos--6{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 7;
}
.fotos--4{
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 7;
}
/* Media Queries */
/* MOBILE */
@media (max-width: 768px){
    .container{
        display: grid;
        grid-template-rows: auto auto auto 50px;
        grid-template-columns: 1fr 4fr;  
        grid-template-areas:
        "nav header"
        "nav sobreNosotros"
        "nav tareas"
        "footer footer"
    }
}

/* TABLET */   
@media (min-width:768px) and (max-width:1200px){
    .container{
        display: grid;
        grid-template-rows: auto auto auto 50px;
        grid-template-columns: 1fr 2fr 2fr;  
        grid-template-areas:
        "nav header header"
        "nav sobreNosotros sobreNosotros"
        "nav imagenNosotros tareas"
        "footer footer footer"
    } 
}
/* DESKTOP */
@media (min-width:1200px){
    .container{
        display: grid;
        grid-template-rows: auto auto auto 50px;
        grid-template-columns: 1fr 2fr 2fr;  
        grid-template-areas:
        "nav header header"
        "nav sobreNosotros sobreNosotros"
        "nav imagenNosotros tareas"
        "footer footer footer"
    }
}